BattleTank/Content/BattleGroup_sharedassets/Environment/Ground_ClumpySnow_col.uasset
BattleTank/Content/BattleGroup_sharedassets/Environment/Ground_ClumpySnow_norm.uasset
BattleTank/Content/BattleGroup_sharedassets/Environment/ground_Grass1_col.uasset
BattleTank/Content/BattleGroup_sharedassets/Environment/ground_Grass1_norm.uasset
BattleTank/Content/BattleGroup_sharedassets/Environment/Ground_mat.uasset
BattleTank/Content/BattleGroup_sharedassets/Environment/Ground_mat_Inst.uasset
BattleTank/Content/BattleGroup_sharedassets/Environment/Rock_sobermanRockWall_col.uasset
BattleTank/Content/BattleGroup_sharedassets/Environment/Rock_sobermanRockWall_norm.uasset
BattleTank/Content/BattleGroup_sharedassets/Environment/brown_mud_leaves/brown_mud_leaves_01_AO_2k.uasset
BattleTank/Content/BattleGroup_sharedassets/Environment/brown_mud_leaves/brown_mud_leaves_01_Nor_2k.uasset
